<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="https://github.com/ColinJ69/NC-Water-Watch/raw/main/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NC Water Watch</title>
    <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <style>
        a {
            color: black
        }


        #menu li {
            color: white;
            margin-top: 10px;
        }


        body {
        }

        ul {
            list-style-type: none;
        }

        hr {
            display: block;
            opacity: 1;
        }

        #repForm input {
            border-color: grey;
        }

        a {
            color: black;
            text-decoration: none;
        }

            a:hover {
                color: black;
                text-decoration: underline;
            }
    </style>
</head>
<body style="background-color: #f9f9f9 ">
    <nav role="navigation">
        
        <div id="menuToggle">

            <input type="checkbox" style="z-index: 5 " onclick="menuchangeZvalue()" />


            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>


            <ul id="menu" style="background: #2F2F2F; color:white;">
                <li><a href="/" class="underline">Home</a></li>

                <li><a href="guides" class="underline">Guides</a></li>

                <li><a href="maps" class="underline">Maps</a></li>

                <li><a href="games" class="underline">Quizzes</a></li>

                <li><a href="action" class="underline">Take action</a></li>

                <li><a href="news" class="underline">News</a></li>


                <li style="color:darkorange">
                    <a style="position: relative; bottom: 0%;color:darkorange;" href="{% url 'logouts' %}">
                        <h5>Logout</h5>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <br /><br />

    <div class="action" style="text-align: center">
        <h1 style="" id="actionPageTitle">Take action</h1>


        


    </div>
    <div id="currLeg">
        <div style="" id="currLegIntro">
            <p style="" id="currLegTitle">Current Legistlation</p>
            <hr style="border: 2px solid rgb(65, 101, 138,0.8); width: 100%; position: relative;" />
            <p style="" id="currLegDes">An assembled list of legistlation related to water quality in the process of passing</p>
        </div>
        <div style="" id="currLegCom">
            <div style="" class="currLegActs">
                <h1>House Bill 77</h1>
                <p style="position:absolute; top:0;right:1.5%;"></p>
                <hr style="background: rgb(65, 64, 115);" />
                <div style="display: inline-block; display: flex; justify-content: space-between; margin: 0 30px;  ">

                    <p style=""><i>3/11/25</i></p>
                    <p><i>N.C. Leg.</i></p>
                </div>

                <hr style="background: rgb(65, 64, 115);" />
                <div style="" class="billDesc">
                    <p>The bill H77 seeks to protect low-income and minority communities from disproportionate environmental and public health impacts.
                    It mandates state agencies to assess cumulative impacts, allows permit denials based on these impacts, and requires public hearings in overburdened communities.</p>
                </div>
                <a href="https://lrs.sog.unc.edu/bill-summaries-lookup/H/376/2025-2026%20Session/H376"><button class="btn btn-secondary currLegBtn" style="background-color: rgb(65, 101, 138);">Learn more</button></a>
            </div>
            <div class="currLegActs">
                <h1>Litter Reduction Act of 2025</h1>
                <hr style="background:black;" />
                <div style="display: inline-block; display: flex; justify-content: space-between; margin: 0 30px; ">

                    <p style=""><i>3/10/24</i></p>
                    <p><i>N.C. Leg.</i></p>
                </div>

                <hr style="background:black;" />
                <div class="billDesc">
                    <p>The bill H344 establishes a beverage container deposit and refund program in North Carolina, effective April 1, 2026. It requires consumers to pay a deposit on beverage containers, which can be refunded upon return, and mandates labeling for participation in the program.
                    The Department of Environmental Quality will oversee the program, including licensing redemption centers and setting recycling performance standards.</p>
                </div>
                <a href="https://lrs.sog.unc.edu/bill-summaries-lookup/H/344/2025-2026%20Session/H344"><button class="btn btn-secondary currLegBtn" style="background-color: rgb(65, 101, 138);">Learn more</button></a>
            </div>
            <div class="currLegActs">
                <h1>Farmers Protection Act</h1>
                <hr style="background:black;" />
                <div style="display: inline-block; display: flex; justify-content: space-between; margin: 0 30px; ">

                    <p style=""><i>3/12/25</i></p>
                    <p><i>N.C. Leg.</i></p>
                </div>

                <hr style="background:black;" />
                <div class="billDesc">
                    <p>The bill H62 prohibits banks in North Carolina from denying or restricting services to agricultural producers based on factors like greenhouse gas emissions or the use of fossil-fuel-based machinery or fertilizers.
                    The bill also eliminates certain reporting requirements and modifies definitions and enforcement mechanisms.</p>
                </div>
                <a href="https://lrs.sog.unc.edu/bill-summaries-lookup/H/62/2025-2026%20Session/H62"><button class="btn btn-secondary currLegBtn" style="background-color: rgb(65, 101, 138);">Learn more</button></a>
            </div>
            <div class="currLegActs">
                <h1>Rights of Nature/Certain River Basins.</h1>
                <hr style="background:black;" />
                <div style="display: inline-block; display: flex; justify-content: space-between; margin: 0 30px; ">

                    <p style=""><i>3/10/25</i></p>
                    <p><i>N.C. Leg.</i></p>
                </div>

                <hr style="background:black;" />
                <div class="billDesc">
                    <p>The bill H345 establishes the Rights of the Dan River and Haw River Ecosystems, recognizing their rights to exist, flourish, and recover.
                    It mandates state agencies to prevent activities that infringe on these rights, conduct environmental assessments, and restore affected areas by 2030.
                    The bill also allows civil enforcement through the Attorney General, citizens, or the ecosystems themselves, with penalties for violations.</p>
                </div>
                <a href="https://lrs.sog.unc.edu/bill-summaries-lookup/H/345/2025-2026%20Session/H345"><button class="btn btn-secondary currLegBtn" style="background-color: rgb(65, 101, 138);">Learn more</button></a>
            </div><div class="currLegActs">
                      <h1>NC Managing Environmental Waste Act of 2025.</h1>
                <hr style="background:black;" />
                <div style="display: inline-block; display: flex; justify-content: space-between; margin: 0 30px; ">

                    <p style=""><i>1/29/25</i></p>
                    <p><i>N.C. Leg.</i></p>
                </div>

                <hr style="background:black;" />
                <div class="billDesc">
                    <p>The bill H8 promotes the use of compostable or recyclable materials in state-operated food establishments and mandates annual reporting on such purchases. 
                    It also requires studies on the environmental impact of food service ware and establishes a pilot program to reduce its use in select facilities.
                    The bill is effective July 1, 2025, with funding allocated for related studies and initiatives.</p>
                </div>
                <a href="https://lrs.sog.unc.edu/bill-summaries-lookup/H/62/2025-2026%20Session/H62"><button class="btn btn-secondary currLegBtn" style="background-color: rgb(65, 101, 138);">Learn more</button></a>
            </div>
        </div>


    </div>
    <div style="height:300px;width:100%;display:inline-block;position:relative">

    </div>
    <div id="petitions">

        <span class="Comm">

            <div class="info-icon" style="margin-left:-0.5%;">i</div>
            <div class="contact_div">
                <p>Comment periods are periods of time where local government officials are looking for the publics' opinion on a specific policy. They are great ways to make your voice heard on local issues.</p>
            </div>
            <p style="text-align: center; font-size: 2rem">Comment periods</p>
            <hr style="border:2px solid grey;" /><br />
            <div style="color: black; display: block; width: 100%;height:10%;"><h6 style=" position: relative; float:left;left:5%;">Topic</h6><p style=" position: relative; float: right; right: 5%; text-align: right;">Period ends</p></div>
            <span class="leaderboardz-item"><a href="https://www.deq.nc.gov/news/events/epa-comment-period-north-carolina-state-university-0"><h6 style="height: 100%;">EPA Comment Period for North Carolina State University</h6></a><p style="height: 100%; width: 25%; text-align: right;">Mar. 27</p></span>
            <span class="leaderboardz-item"><a href="https://www.deq.nc.gov/news/events/epa-comment-period-davidson-county-municipal-solid-waste-landfill-0"><h6 style="height: 100%;">EPA Comment Period for Davidson County Municipal Solid Waste Landfill</h6></a><p style="height: 100%; width: 25%; text-align: right;">Mar. 31</p></span>
            <span class="leaderboardz-item"><a href="https://www.deq.nc.gov/news/events/public-comment-period-clean-air-act-section-110l-demonstration-adoption-nc-nox-sip-call-rules-and"><h6 style="height: 100%;">Public Comment Period: Clean Air Act Section 110(l)</h6></a><p style="height: 100%; width: 25%; text-align: right;">Mar. 26</p></span>
            <span class="leaderboardz-item"><a href="https://www.deq.nc.gov/news/events/public-comment-period-intent-issue-air-quality-permit-duke-energy-carolinas-llc-cliffside-steam-0"><h6 style="height: 100%;">Public Comment Period: Intent to Issue an Air Quality Permit to Duke Energy Carolinas</h6></a><p style="height: 100%; width: 25%; text-align: right;">Mar. 28</p></span>
            <span class="leaderboardz-item"><a href="https://www.deq.nc.gov/news/events/epa-comment-period-rowan-county-solid-waste-landfill-1"><h6 style="height: 100%;">EPA Comment Period for Rowan County Solid Waste Landfill</h6></a><p style="height: 100%; width: 25%; text-align: right;">May 6</p></span>
            
        </span>
    </div>

    <div id="lawsuits">


        <span class="Comm">

            <div class="info-icon" style="margin-left:-0.5%;">i</div>
            <div class="contact_div">These are public hearings held by local government offices. You are welcome and encouraged to attend so you can listen and voice your opinion in the meeting.</div>
            <p style="text-align:center;font-size:2rem;">Hearings</p>
            <hr style="border:2px solid grey;" /><br />
            <div style="color: black; display: block; width: 100%;height:10%;"><h6 style=" position: relative; float:left;left:5%;">Topic</h6><p style=" position: relative;float:right;right:45%;">Date</p></div>
            <span class="leaderboardz-item"><a href="https://www.deq.nc.gov/news/events/ncdeq-division-water-resources-hold-public-hearing-proposed-changes-nc-water-quality-standards"></a><h6 style="height: 100%;">NCDEQ Division of Water Resources to hold public hearing on proposed changes to N.C. water quality standards</h6><p style="height: 100%; width: 25%;">Apr. 22</p><p style="height: 100%; width: 25%; text-align: right;"><a href="https://www.deq.nc.gov/news/events/ncdeq-division-water-resources-hold-public-hearing-proposed-changes-nc-water-quality-standards">More info</a></p></span>
            
        </span>
    </div>

    
    
                <div id="repForm">
                    {% if not rep_sub %}
                    <script>
                        window.onload = function () {

                            try {
                                var house = localStorage.getItem('house');
                                var house_email = localStorage.getItem('house_email');
                                var house_img = localStorage.getItem('house_img');
                                var senate = localStorage.getItem('senate');
                                var senate_email = localStorage.getItem('senate_email');
                                var senate_img = localStorage.getItem('senate_img');
                                var congress = localStorage.getItem('congress');
                                var link = localStorage.getItem('link');
                                var con_img = localStorage.getItem('con_img');
                                console.log(house, house_email, house_img, senate, senate_email, senate_img, congress, link, con_img)
                                document.querySelector('#house').textContent = house;
                                document.querySelector('#house_email').href = house_email;
                                document.querySelector('#house_img').src = house_img;
                                document.querySelector('#senate').textContent = senate;
                                document.querySelector('#sen_email').href = senate_email;
                                document.querySelector('#senate_img').src = senate_img;
                                document.querySelector('#congress').textContent = congress;
                                document.querySelector('#link').href = link;
                                document.querySelector('#conpic').src = con_img;
                                console.log(house)
                                document.querySelector('#notSubmittedForm').style.display = 'block';
                                document.querySelector('#storagePassed').style.display = 'none';
                               
                            }
                            catch (e) {
                                if (e.name === 'QuotaExceededError') {
                                    console.log('Quota exceeded!');
                                }
                            };
                        }
                    </script>
                    <div id="notSubmittedForm">
                        <h3 style="width: 100%; color: #2F2F2F; opacity: 0.8" class="repformtitle">Find out who your representatives are</h3>
                        <hr style="border:2px solid grey" />
                        <div style="border: 1px solid white; border-radius: 5px; padding: 5%;height:50%;">
                        <form method="post" style="height:100%;width:100%;">
                            {% csrf_token %}
                            {{repform.as_p}}
                            <button class="getcoord" onclick="getLocation()" type="button">Autofill</button>
                            <button class="subrepadd" type="submit" name="repForm">Submit</button>

                            
                        </form>
                            </div>
                      </div>

                    </div>
                    <div id="storagePassed">
                        <span style="" class="reptitle">
                            <p style="color:#2F2F2F">Your representatives</p>
                            <hr style="border:2px solid grey;" />
                            <br />
                        </span>
                        <div class="yourreps" style="">

                            <p id="house" class="repname" style="border-bottom: 1px solid grey; padding-bottom: 5%; "></p>

                            <img id="house_img" src="{% static housepic %}">
                            <p>N.C. House</p>
                            <a id="house_email" href=""  target="_blank">Contact</a>
                        </div>
                        <div class="yourreps" style="">

                            <p id="senate" class="repname" style="border-bottom: 1px solid grey; padding-bottom: 5%; "></p>

                            <img id="senate_img" src="{% static senpic %}">
                            <p>N.C. Senate</p>
                            <a id="sen_email" href="" target="_blank">Contact</a>
                        </div>
                        <div class="yourreps" style="">

                            <p id="congress" class="repname" style="border-bottom: 1px solid grey; padding-bottom: 5%; "></p>

                            <img id="conpic" src="{% static conpic %}">
                            <p>U.S. House</p>
                            <a id="link" href="" target="_blank">Contact</a>
                        </div>
                    </div>
                    {% else %}
                    <script>
                        window.onload = function () {

                            document.querySelector('#repForm').scrollIntoView();
                            let element = document.getElementById('repForm');
                            try {


                                localStorage.setItem('house', document.querySelector('#house').textContent);
                                
                                localStorage.setItem('house_email', document.querySelector('#house_email').href);

                                localStorage.setItem('house_img', document.querySelector('#house_img').src);

                                localStorage.setItem('senate', document.querySelector('#senate').textContent);


                                localStorage.setItem('senate_email', document.querySelector('#sen_email').href);
                                localStorage.setItem('senate_img', document.querySelector('#senate_img').src);
                                console.log(document.querySelector('#senate_img').src)
                                localStorage.setItem('congress', document.querySelector('#congress').textContent);
                                localStorage.setItem('link', document.querySelector('#link').href);
                                localStorage.setItem('con_img', document.querySelector('#conpic').src);
                                console.log(document.querySelector('#congress').textContent)
                               /*document.querySelector('#repForm').style.height = '70%';*/
                                document.querySelector('#notSubmittedForm').style.display = 'none';
                                document.querySelector('#storagePassed').style.display = 'block';

                            }
                            catch {

                            }
                        };
                    </script>
                    <div>
                        <span style="width: 100%; height: 20%; float: left; font-size: 3rem; text-align: left; color: #2F2F2F">
                            <p style="color:#2F2F2F">Your representatives</p>
                            <hr style="border:2px solid grey;" />
                            <br />
                        </span>
                        <div class="yourreps" style="">

                            <p id="house" style="border-bottom: 1px solid grey; font-size: 1.5rem; padding-bottom: 5%; ">{{house}}</p>

                            <img id="house_img" src="{% static housepic %}">
                            <p style="margin-top: 5%; border-bottom: 2px solid grey; font-size: 1.15rem;">N.C. House</p>
                            <a id="house_email" href="{{house_email}}"  target="_blank">Contact</a>
                        </div>
                        <div class="yourreps" style="">

                            <p id="senate" style="border-bottom: 1px solid grey; font-size: 1.5rem; padding-bottom: 5%; ">{{senate}}</p>

                            <img id="senate_img" src="{% static senpic %}">
                            <p style="margin-top: 5%; font-size: 1.15rem; border-bottom: 2px solid grey; ">N.C. Senate</p>
                            <a id="sen_email" href="{{sen_email}}" target="_blank">Contact</a>
                        </div>
                        <div class="yourreps" style="">

                            <p id="congress" style="border-bottom: 1px solid grey; font-size: 1.5rem; padding-bottom: 5%; ">{{congress}}</p>

                            <img id="conpic" src="{% static conpic %}">
                            <p style="margin-top: 5%; font-size:1.15rem;border-bottom: 2px solid grey;">U.S. House</p>
                            <a id="link" href="{{link}}" target="_blank">Contact</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                    <footer class="footer" style="display:block;position:relative;margin-top:10%;">
                        <span id="contactlinks">
                            <ul>
                                <li>
                                    <p><a href="about">About us</a></p>
                                </li>
                                <li>
                                    <p><a href="mailto:ncwaterwatch.adm@gmail.com">Email us</a></p>
                                </li>
                                <li>
                                    <p><a href="about#privacy">Privacy policy</a></p>
                                </li>
                            </ul>
                        </span>
                        <div style="position:relative;height:100%;float:left;" id="footersubscribediv">
                            {% if logged_in %}

                            {% if signed_up %}
                            <div id="unsubscribe" style="">
                                <p style="font-size: 1.25rem; position: relative; float: left;" onclick="unsub()">Unsubscribe </p><a class="x2" onclick="unsub()"></a>
                            </div>
                            {% else %}
                            <div id="subscribe" style="">
                                <p>Sign up for our bi-weekly newsletter in one click!</p>
                                <hr style="font-size:2rem; background-color:grey;" />
                                <button style="border: 1px solid black; width: 86%; border-radius: 3px; border-color: grey" onclick="sign_up()">Sign up</button>
                            </div>
                            {% endif %}

                            {% else %}
                            <div id="subscribe" style="">

                                <p>Sign up for our bi-weekly newsletter!</p>
                                <hr style="font-size:2rem; background-color:grey;" />
                                <input name="noAccEmail" id="noAccEmail" type="text" placeholder="email" style="width:86%;">
                                <button style="border:1px solid black;width:86%;border-color:grey;border-radius:3px;" onclick="sign_up_no_acc()">Sign up</button>

                            </div>
                            {% endif %}
                        </div>
                        <div id="footer-endpic-pc-div">


                            <img style=" filter: contrast(1) brightness(1);margin-top:13%;" src="https://github.com/ColinJ69/FiguringOutNameChange/raw/main/images/Water%20Watch%20(1).png" />
                            <p style="text-align:right;padding-right:10px;position:absolute;bottom:0;right:0;">
                                ©Hydro Haven 2024
                            </p>
                        </div>

                    </footer>

    <script>
                
        function cnpFunc() {
            var copyText = document.getElementById("email");
            copyText.select();
            navigator.clipboard.writeText(copyText.value);


            alert("Copied the text: " + copyText.value);

        }
        function menuchangeZvalue() {
            var i = document.querySelector('#menuToggle');
            function closeWindowZreset() {
                i.style.zIndex = 1;
            }
            if (i.style.zIndex == 3) {

                setTimeout(closeWindowZreset,
                    2000
                )

            }
            else {
                i.style.zIndex = 3;
            }
        }

        function showContact() {



            document.querySelector('#showReps').style.display = 'block';
            document.querySelector('#gyatt').style.display = 'none';

        }
        function end() {
            document.querySelector('#showReps').style.display = 'none';
        }
        function openComm() {
            var i = document.querySelector('#Comm')
            var j = document.querySelector('#cock')
            if (i.style.display == 'none') {
                i.style.display = 'block';
                j.style.display = 'none';
            }
            else {
                i.style.display = 'none';
                j.style.display = 'block';
            }
        }
        function unsub() {
            const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';

            let sent_data = { 'register': false }
            const API_URL = BASE_URL + "/newsletter_signup";

            const request = new Request(
                API_URL,
                { headers: { 'X-CSRFToken': dsd, 'Content-Type': 'application/json' } }
            );

            

            return fetch(request, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(sent_data)
            })
                .then(response => response.json())
                .then(response => {
                    data = response['time']; return data;
                })
            window.location.reload();
        }
        
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else { document.getElementById("location").innerHTML = "Geolocation is not supported by this browser."; }
        }
        function showPosition(position) {
            document.getElementById("cj").value = position.coords.latitude + ", " + position.coords.longitude;
        }
        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED: document.getElementById("location").innerHTML = "User denied the request for Geolocation."; break;
                case error.POSITION_UNAVAILABLE: document.getElementById("location").innerHTML = "Location information is unavailable."; break;
                case error.TIMEOUT: document.getElementById("location").innerHTML = "The request to get user location timed out."; break;
                case error.UNKNOWN_ERROR: document.getElementById("location").innerHTML = "An unknown error occurred."; break;
            }
        }
        var isd = document.cookie
        var dsd = isd.slice(-32)

        function sign_up() {
            const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';

            let sent_data = { 'register': true }
            const API_URL = BASE_URL + "/newsletter_signup";

            const request = new Request(
                API_URL,
                { headers: { 'X-CSRFToken': dsd, 'Content-Type': 'application/json' } }
            );

           

            return fetch(request, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(sent_data)
            })
                .then(response => response.json())
                .then(response => {
                    data = response['time']; return data;
                });
            window.location.reload();
        }
        function sign_up_no_acc() {
            const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';

            let sent_data = { 'email': document.querySelector('#noAccEmail').value }
            const API_URL = BASE_URL + "/newsletter_signup";

            const request = new Request(
                API_URL,
                { headers: { 'X-CSRFToken': dsd, 'Content-Type': 'application/json' } }
            );

            return fetch(request, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(sent_data)
            })
                .then(response => response.json())
                .then(response => {
                    data = response['time']; return data;
                })
            window.location.reload();
        }
    </script>
</body>
</html>
