<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="utf-8" />
    <title></title>
    <style>
        ul {
            list-style-type: none;
        }

        a {
            color: black;
            text-decoration: none;
        }

            a:hover {
                color: black;
                text-decoration: underline;
            }

        a {
            color: black;
        }

            a:hover {
                text-decoration: underline;
            }
        .boxees {
            height: 80%;
            width: 85%;
            position: relative;
            float: right;
            padding: 1.5rem;
            margin: 2rem auto;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN2W02zeMsLXAlfzZxyelng58JRoUd1W2Ykg&s');
            background-size: cover;
            background-repeat: no-repeat;
            object-fit: cover;
            border-top: var(--border-width) solid #D4D2A5;
            border-bottom: var(--border-width) solid #D4D2A5;
            background-clip: content-box;
        }

            .boxees:before,
            .boxees:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: var(--border-width);
                background: linear-gradient( 0deg, #D4D2A5 10%, transparent 10%, transparent 25%, #D4D2A5 25% );
                pointer-events: none;
            }

            .boxees:after {
                left: auto;
                right: 0rem;
                background: linear-gradient( 0deg, #D4D2A5 10%, transparent 10%, transparent 25%, #D4D2A5 25% );
            }

        placeholder {
            color: black;
        }

        body, html {
            display: block;
            width: 100%;
            overflow-x: hidden;
        }

        p {
            color: black;
        }

        @media (max-width:2600px) {
            p {
                font-family: var(--bs-body-font-family);
                font-weight: 100;
            }
        }
    </style>
</head>
<body style="font-family:Poppins, sans-serif;">
    <nav role="navigation" style="position:relative;">
        

        <div id="menuToggle">

            <input type="checkbox" style="z-index: 5 " onclick="menuchangeZvalue()" />


            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>


            <ul id="menu" style="background: #2F2F2F; color:white;">
                <li><a href="/" class="underline">Home</a></li>

                <li><a href="guides" class="underline">Guides</a></li>

                <li><a href="maps" class="underline">Maps</a></li>

                <li><a href="games" class="underline">Quizzes</a></li>

                <li><a href="action" class="underline">Take action</a></li>

                <li><a href="news" class="underline">News</a></li>


                <li style="color:darkorange">
                    <a style="position: relative; bottom: 0%;color:darkorange;" href="{% url 'logouts' %}">
                        <h5>Logout</h5>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    {% if request.user.is_staff %}
    <button onclick="post()" id="postbutton" style="position: absolute; right:0;">Post story</button>
    <button onclick="test_post()" style="position: absolute; right:0;top:30px;">Post story(test)</button>
    <script>
        console.log(document.getElementById('postbutton').innerText)
        function post() {
            if (document.getElementById('postbutton').innerText == 'Post story') {
                document.getElementById('postbutton').innerText = 'Are you sure?'


            }
            else {
                const cookie = document.cookie.slice(-32)
                const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';


                const API_URL = BASE_URL + "/post_story";
                const sent_data = { 'test': 0, 'story': 'helene' }
                const request = new Request(
                    API_URL,
                    { headers: { 'X-CSRFToken': cookie, 'Content-Type': 'application/json' } }
                );
                fetch(request, {
                    method: 'POST',
                    mode: 'same-origin',
                    body: JSON.stringify(sent_data)
                })

                    .then(response => response.json())

                document.getElementById('postbutton').innerText = 'Posted';
            }





    }
        function test_post() {
            const cookie = document.cookie.slice(-32)
            const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';


            const API_URL = BASE_URL + "/post_story";
            const sent_data = { 'test':1,'story': 'trump' }
            const request = new Request(
                API_URL,
                { headers: { 'X-CSRFToken': cookie, 'Content-Type': 'application/json' } }
            );
            fetch(request, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(sent_data)
            })

                .then(response => response.json())




        }
    </script>
    {% endif %}
    <div style="text-align: center;  width: 100%; ">
        <div style="background-color: rgb(65, 101, 138);height:200px">

        </div>
        <div style="width: 100%; margin-top: 200px; border-top: 4px solid rgb(65, 101, 138); border-bottom: 4px solid rgb(65, 101, 138); padding: 2%; position: relative; ">
            <h4 id="article-title" style="color: #2F2F2F; width: 60%; margin-left: 20%; font-family: var(--bs-body-font-family);font-weight:150;">

                How will the Trump administration's policies affect water quality?

            </h4>
            <p style="position:absolute; bottom:0;right:5%;font-size:1.5rem;">10/4/24</p>
        </div>
    </div>

    <div style="width:100%; text-align: center;display:block;" class="sectionnews-off next-chosen">


        <div id="scnews-off-img" style="position: relative; float: right;width:50%;display:flex;align-items:center;justify-content:center;">
            <div style="" class="boxees"></div>
        </div>
        <h2 style="font-size:4rem;position:relative;white-space:nowrap; color:transparent">Status of water in peoples homes</h2>

        <p style="">
            The administration's emphasis on energy dominance and economic growth has also led to increased support for fossil fuel development and large-scale agriculture.
            Policies that ease restrictions on coal ash disposal and wastewater discharges from industrial facilities could result in higher levels of contaminants entering rivers and lakes.
            Similarly, reduced oversight of agricultural runoff, a major source of nutrient pollution, may exacerbate issues like algal blooms and dead zones in water bodies such as the Gulf of Mexico.
        </p>
        <div style="background: rgb(65, 101, 138); height: 8%; position: absolute; top: 0; width: 100%; right: 0%;"></div>
        <p style="">
            
        </p>
    </div>




    <div style="text-align: center;  width: 100%; display: inline-block; float:right; position:relative;margin-top:10%;" class="sectionnews-off next-chosen">
        <div style="background: rgb(65, 101, 138); height: 8%; position: absolute; top: 0; width: 100%; right: 0%;"></div>


        <span style="width:100%; float:right; margin-top:20%;padding:0;" class="sectionnews-off next-chosen">
            <p style="width: 100%; position: relative; padding: 10%;">
                The potential weakening of water quality standards raises concerns about public health. Contaminants such as heavy metals, nitrates, and pathogens can pose serious risks to communities,
                particularly those already facing environmental injustices. The administration's approach to regulating per- and polyfluoroalkyl
                substances (PFAS), often referred to as "forever chemicals," has also drawn criticism. While some steps have been taken to address PFAS contamination,
                advocates argue that more comprehensive action is needed to protect water supplies from these persistent and harmful substances.
            </p>
            <img style="border: 0.5px solid #D4D2A5; width: 70%; height: 10%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe0riabERE7Ri29uCx0g1g-wnXs0KOGpWw3A&s" />
            <p style="width: 100%; position: relative; padding: 10%; ">
                The Trump administration has emphasized a shift in environmental oversight from the federal government to individual states.
                Proponents argue that this approach allows for more tailored and efficient management of water resources.
                However, detractors caution that it could lead to inconsistent protections across states, with some prioritizing economic interests over environmental health.
            </p>

        </span>
    </div>

    <div style="width:100%;display:inline-block;margin-top:5%;" class="sectionnews-off next-chosen">
        <div style="background: rgb(65, 101, 138); height: 50px; width: 100%;"></div>
        <p style="width: 100%; position: relative; padding: 10%;">
            The Trump administration's policies represent a significant shift in the nation's approach to water quality management. While supporters highlight the potential economic benefits of deregulation, critics warn of the long-term environmental and public health risks. The ultimate impact of these policies will depend on how they are implemented and whether they withstand legal and public scrutiny. As the debate continues, the importance of safeguarding the nation's water resources remains a critical issue for policymakers and communities alike.
        </p>
    </div>

    <footer class="footer" style="display:block;margin-top:0%;">
        <span id="contactlinks">
            <ul>
                <li>
                    <p><a href="about">About us</a></p>
                </li>
                <li>
                    <p><a href="mailto:hydrohavennc@gmail.com">Email us</a></p>
                </li>
                <li>
                    <p><a onclick="privacy()">Privacy policy</a></p>
                </li>
            </ul>
        </span>
        <div style="position:relative;height:100%;float:left;" id="footersubscribediv">


            <div id="subscribe" style="">

                <p>Sign up for our bi-weekly newsletter!</p>
                <hr style="font-size:2rem; background-color:grey;" />
                <input name="noAccEmail" id="noAccEmail" type="text" placeholder="email" style="width:86%;">
                <button style="border:1px solid black;width:86%;border-color:grey;border-radius:3px;" onclick="sign_up_no_acc()">Sign up</button>

            </div>

        </div>
        <div>
            <img style="margin-left:55%;margin-top:-10%;height:200%;width:60%;" src="https://github.com/ColinJ69/NC-Water-Watch/raw/main/images/HydroHaven.svg" />
            <p style="margin-top:-5%;margin-left:76%;">
                ©Hydro Haven 2024
            </p>
        </div>

    </footer>
    <script>
        var isd = document.cookie
        var dsd = isd.slice(-32)

        function sign_up() {
            const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';

            let sent_data = { 'register': true }
            const API_URL = BASE_URL + "/newsletter_signup";

            const request = new Request(
                API_URL,
                { headers: { 'X-CSRFToken': dsd, 'Content-Type': 'application/json' } }
            );



            return fetch(request, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(sent_data)
            })
                .then(response => response.json())
                .then(response => {
                    data = response['time']; return data;
                });
            window.location.reload();
        }
        function menuchangeZvalue() {
            var i = document.querySelector('#menuToggle');
            function closeWindowZreset() {
                i.style.zIndex = 1;
            }
            if (i.style.zIndex == 3) {

                setTimeout(closeWindowZreset,
                    2000
                )

            }
            else {
                i.style.zIndex = 3;
            }
        }
        function sign_up_no_acc() {
            const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';

            let sent_data = { 'email': document.querySelector('#noAccEmail').value }
            const API_URL = BASE_URL + "/newsletter_signup";

            const request = new Request(
                API_URL,
                { headers: { 'X-CSRFToken': dsd, 'Content-Type': 'application/json' } }
            );


            return fetch(request, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(sent_data)
            })
                .then(response => response.json())
                .then(response => {
                    data = response['time']; return data;
                })
            window.location.reload();
        }
        function unsub() {
           

            let sent_data = { 'register': false }
            const API_URL = "/newsletter_signup";

            const request = new Request(
                API_URL,
                { headers: { 'X-CSRFToken': dsd, 'Content-Type': 'application/json' } }
            );


            return fetch(request, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(sent_data)
            })
                .then(response => response.json())
                .then(response => {
                    data = response['time']; return data;
                })
            window.location.reload();
        }
    </script>
</body>
</html>