<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NC Water Watch</title>
    <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="icon" type="image/x-icon" href="https://github.com/ColinJ69/NC-Water-Watch/raw/main/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <style>
        #menu li {
            color: white;
            margin-top: 10px;
        }

          
        body, html {
            height: 110%;
        }

        a {
            color: white;
        }

            a:hover {
                color: white;
            }

        ul {
            list-style-type: none;
        }

        input::placeholder {
            opacity: 0.5;
            color: black;
        }

        #formA input:hover {
            cursor: pointer;
        }

        .footer a {
            color: black;
        }

        #formA li {
            list-style-type: none;
        }
        body, html{
            height:100%;
            margin:0;
            width:100%;
        }
        hr{
            opacity:1;
        }
    </style>
</head>

<body style="background: #ffffff ">

    <nav role="navigation">

        <div id="menuToggle">

            <input type="checkbox" style="z-index: 5 " onclick="menuchangeZvalue()" />


            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>


            <ul id="menu" style="background: #2F2F2F; color:white;">
                <li><a href="/" class="underline">Home</a></li>

                <li><a href="guides" class="underline">Guides</a></li>

                <li><a href="maps" class="underline">Maps</a></li>

                <li><a href="games" class="underline">Quizzes</a></li>

                <li><a href="action" class="underline">Take action</a></li>

                <li><a href="news" class="underline">News</a></li>


                <li style="color:darkorange">
                    <a style="position: relative; bottom: 0%;color:darkorange;" href="{% url 'logouts' %}">
                        <h5>Logout</h5>
                    </a>
                </li>
            </ul>
        </div>
        
    </nav>
        

    
    <div style="height: 30%; width: 100%; position: relative; ">
        
        <div style="" id="quizbanner">
            <h3 id="qtitle" style="display:none;"><b>Hydro Haven</b></h3>
            <div style="" onclick="openRedeem()"><button class="qbBtn qbBtnRedeem" style="display: flex; justify-content: center">Redeem</button></div>
            <div style="" onclick="openLeaderboard()"><button class="qbBtn qbBtnLeaderboard" style="display: flex; justify-content: center ">Leaderboard</button></div>
            <div style="" onclick="openQuizzes()"><button class="qbBtn qbBtnDefault" style="display:flex;justify-content: center">Games</button></div>
            <svg xmlns="http://www.w3.org/2000/svg" onclick="openMenus()" width="45" height="45" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z" />
            </svg>
            <span id="quizMenu-opened">
                <ul>
                    <li onclick="openQuizzes()">
                        Quizzes
                    </li>
                    <hr style="border: 1px solid #86bbd8; opacity: 1;"/>
                    <li onclick="openLeaderboard()">
                        Leaderboard
                    </li>
                    <hr style="border: 1px solid #86bbd8; opacity: 1;"/>
                    <li onclick="openRedeem()">
                        Redeem
                    </li>
                </ul>
            </span>
        </div>
    </div>
    <div style="position:relative;width:100%;display:flex;flex-wrap:wrap;" id="quiz-page-contentdiv">
        <div style="" id="divinquestion">
            <div style="" id="quizdiv">
                {% if request.user.is_authenticated %}
                <h4 id="pointss" style="">

                    {{points}} points

                </h4>
                {% else %}
                <h4 id="pointss" onclick="logins()"><a href="logins" style=" color: black;opacity:0.85;">Login to gain points</a></h4>
                {% endif %}
                <div id="question_div" style="position: relative; ">

                    <h2 class="queriedDataShow" style="position: relative;color:black;opacity:0.95;"></h2>
                    <hr style="background:white;border:2px solid white;" />
                    <form id="formA">
                        <ol style="font-size: 25px; float: left" id="formAol">
                            <li class="labelq"><input value="1" name="q" type="radio" id="input1"><label for="input1" id="subRepResp"></label></li>
                            <li class="labelq"><input value="2" name="q" type="radio" id="input2" /><label for="input2" id="subEnterUni"></label></li>
                            <li class="labelq"><input value="3" name="q" type="radio" id="input3" /><label for="input3" id="subEvResponder"></label></li>
                            <li class="labelq"><input value="4" name="q" type="radio" id="input4" /><label for="input4" id="unDomainEntered"></label></li>
                        </ol>

                    </form>
                    <div id="explanation">
                        <p class="explaintext" style="white-space: pre-wrap; "></p>
                    </div>
                </div>
                <button id="nextQuestion-skip" onclick="reset_new_question()">></button>
            </div>
            <div id="leaderboarddiv">
                <div id="leaderboards">

                    <h2  id="leadertitle">
                        🏆<p style="margin:0;color:black;">Leaderboard</p>🏆
                    </h2><hr style="border:3px solid white;"/>
                    {% for name, score, rank in top_scores %}
                    <div class="leaderboard-item">
                        <div class="rank">
                            {{rank}}
                        </div>
                        <div class="name">
                            {{name}}
                        </div>
                        <div class="score">
                            {{score}}
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
            <div id="redeemdiv">
                <div id="store">
                    <span style="width: 100%; height: 35%; float: left;position:relative; text-align:center;" id="stortext">
                        <p style="">Give with Hydro Haven</p><div class="charinfoicon">i</div>
                        <div class="charinfo">
                            <p style="position:absolute;top:0;right:0;font-size:0.75rem;" id="timeLeftChar"></p>
                            <p style="font-size:1.25rem;">April's non-profit</p>
                            <hr style="background-color:black;border:2px solid black;" />
                            <p style="font-size:0.9rem;">Feeding America | They vouch that every person in America should not go to bed hungry</p>
                        </div>
                        <p id="message">Redeem 1,000 points<br /> ↓ <br />$1 towards charitable environmental causes</p>
                        <hr />
                    </span>
                    <span id="don" style="display:flex;align-items:center;position:relative;">
                        <button style="" id="don-button-click" onclick="donate()">Donate(-1,000)</button>
                        <p style="position:absolute;bottom:0;" id="message"></p>


                    </span>
                    <span id="donNum">
                        <p style="" class="margin-gone-fet">Lifetime amount donated</p>
                        <hr style="border:2px solid black;position:relative;opacity:1;" />
                        <div id="donamm">
                            <p>
                                {% if request.user.is_authenticated %}
                                ${{dollars}}
                                {% else %}
                                $0
                                {% endif %}
                            </p>
                        </div>
                    </span>
                </div>
            </div>
           
        </div>
    </div>
    <footer class="footer gamepagefooter-class" style="display:block;position:relative">
        <span id="contactlinks">
            <ul>
                <li>
                    <p><a href="about">About us</a></p>
                </li>
                <li>
                    <p><a href="mailto:ncwaterwatch.adm@gmail.com">Email us</a></p>
                </li>
                <li>
                    <p><a href="about#privacy">Privacy policy</a></p>
                </li>
            </ul>
        </span>
        <div style="position:relative;height:100%;float:left;" id="footersubscribediv">
            {% if logged_in %}

            {% if signed_up %}
            <div id="unsubscribe" style="">
                <p style="font-size: 1.25rem; position: relative; float: left;" onclick="unsub()">Unsubscribe </p><a class="x2" onclick="unsub()"></a>
            </div>
            {% else %}
            <div id="subscribe" style="">
                <p>Sign up for our bi-weekly newsletter in one click!</p>
                <hr style="font-size:2rem; background-color:grey;" />
                <button style="border: 1px solid black; width: 86%; border-radius: 3px; border-color: grey" onclick="sign_up()">Sign up</button>
            </div>
            {% endif %}

            {% else %}
            <div id="subscribe" style="">

                <p>Sign up for our bi-weekly newsletter!</p>
                <hr style="font-size:2rem; background-color:grey;" />
                <input name="noAccEmail" id="noAccEmail" type="text" placeholder="email" style="width:86%;">
                <button style="border:1px solid black;width:86%;border-color:grey;border-radius:3px;" onclick="sign_up_no_acc()">Sign up</button>

            </div>
            {% endif %}
        </div>
        <div id="footer-endpic-pc-div">


            <img style=" filter: contrast(1) brightness(1);margin-top:13%;" src="https://github.com/ColinJ69/FiguringOutNameChange/raw/main/images/Water%20Watch%20(1).png" />
            <p style="text-align:right;padding-right:10px;position:absolute;bottom:0;right:0;">
                ©Hydro Haven 2024
            </p>
        </div>

    </footer>
    
    <script src="{% static 'games.js' %}"></script>
</body>
</html>
