<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>NC Water Watch</title>
    <link rel="icon" type="image/x-icon" href="https://github.com/ColinJ69/NC-Water-Watch/raw/main/images/favicon.png">
    <style>
        #menu li {
            color: white;
            margin-top: 10px;
        }



        body, html {
            height: 100%;
        }

        .footer ul {
            list-style-type: none;
        }

        input::placeholder {
            opacity: 0.5;
            color: black;
        }

        .teleportto {
            width: 100%;
            padding: 3%;
        }

            .teleportto:hover {
                background: rgb(250, 250, 250,0.8);
                color: rgb(1,1,1, 0.9);
                border-radius: 5px;
                cursor: pointer
            }

                .teleportto:hover p {
                    opacity: 1;
                }

        ol li p {
            display: inline;
        }

        .mainArticle3 ul {
            list-style-type: disc;
        }

        ul {
            list-style-type: disc;
        }

        hr {
            opacity: 1;
        }

        ol li::marker {
            color: #2F2F2F;
            font-size: 1.25rem;
        }

        ol li {
            margin-bottom: 3%
        }

        p {
            color: rgb(13, 10, 11);
        }

        a {
            color: black;
            text-decoration: none;
        }

            a:hover {
                color: black;
                text-decoration: underline;
            }
    </style>
</head>
<body style="background-color: #ffffff;flex-wrap: nowrap;font-family:inherit">
    <nav role="navigation">
       
        <div id="menuToggle">

            <input type="checkbox" style="z-index: 5 " onclick="menuchangeZvalue()" />


            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>


            <ul id="menu" style="background: #2F2F2F; color:white;">
                <li><a href="/" class="underline">Home</a></li>

                <li><a href="guides" class="underline">Guides</a></li>

                <li><a href="maps" class="underline">Maps</a></li>

                <li><a href="games" class="underline">Quizzes</a></li>

                <li><a href="action" class="underline">Take action</a></li>

                <li><a href="news" class="underline">News</a></li>


                <li style="color:darkorange">
                    <a style="position: relative; bottom: 0%;color:darkorange;" href="{% url 'logouts' %}">
                        <h5>Logout</h5>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <div id="waht">
        <h1 style="font-size: 5.5rem; position: relative; color: #282E36; font-family: Poppins, sans-serif; opacity: 0.8; background:rgb(65, 101, 138); height:90%;"></h1>
       
    </div>
    <div class="one">
        <div id="jumptodiv">
            <div class="scrollto">
                <p style="text-align:center" id="jump-to-div-titleTxt">Jump to</p>
                <hr style="border: 1px solid rgb(65, 101, 138); " />
                <p class="scrolltocomm teleportto">Common pollutants</p>
                <p class="scrolltothreats teleportto">Common polluters</p>
                <p class="scrolltowells teleportto">How to protect your wells</p>
            </div>
        </div>
        <div id="water-top-text">
            <h1 style="text-align: center; padding: 20px; width: 90%; float: left; margin-left: 5%;  opacity: 0.8;">Drinking water safely</h1>
            <hr style="border: 3px solid #41658a; width: 5%; float: right;margin-right:10%;" />
        </div>
        <div class="mapStateOf">
            <div>


                <h4>Filters:</h4>
                <p>
                    Carbon filters (pitcher or tap-mounted) are
                    afordable and reduce many common water
                    contaminants, like lead and byproducts of
                    disinfectants used to treat municipal tap
                    water. If your budget allows, install a reverse
                    osmosis filter to remove contaminants that
                    carbon filters can’t eliminate.
                </p>
                <hr />
            </div>

           
            <div>
                
                    <h4>Bottled Water:</h4>
                    <p>
                        Drink filtered tap water instead, as
                        bottled water not only is often as is not more contaminated than
                        regular unfiltered tap water, but the plastic bottle can
                        also leach toxic chemicals and microplastics into the water.

                    </p>
                <hr />
            </div>
            
            <div>
                
                    <h4>On the go:</h4>
                    <p>
                        Carry a reusable stainless steel or shatter-proof glass bottle,
                        rather than a single-use plastic bottle. Don't reuse single-use plastic bottles as doing this can
                        harbor bacteria and break down to release chemicals into the water.
                    </p>
            </div>
        </div>
    </div>
    
    <div class="screenStripe" style="background: rgb(65, 101, 138); "></div>
    <div class="commPollutants">

        <p style="width: 100%; height: 50px; font-family: var(--bs-body-font-family);font-weight:300; text-align: left;" id="threatPoll-title">Most threatening water pollutants</p>
        <hr style="border: 2.5px solid rgb(65, 101, 138); margin-top: 3%; width: 70%; "/>
        <div class="mostCommPoll">
            <div style="display: flex; background: rgb(65, 101, 138,0.8); border: none;" class="pollDivElement">
                <div class="commPollImage" >
                    <img src="https://th.bing.com/th/id/OIP.KBJ33IgwIbgofhuebQ3eFQHaE8?w=240&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style=""/>
                </div>
                
                    <div class="commPollOl" style="width:60%;float:right;height:90%;top:3%;">
                       
                            <h6 style="text-align:center;" class="pollTitle">Per- and Polyfluoroalkyl substances (PFAS)</h6>
                        <hr />
                        
                            <p style="margin-top:6%;">Sources: Many places including industrial plants, wastewater plants, landfills, military bases, and airports.</p>
                        
                            <p>Dangers: They persist in the environment for a long time and show links to many health effects including cancer and reproductiv/developmental issues.</p> 
                       
                    </div>
               
            </div>
            <div style="display: flex; background: rgb(65, 101, 138,0.8);border:none;" class="pollDivElement">
                <div class="commPollImage" style="">
                    <img src="https://th.bing.com/th/id/OIP.rDMH8m2idGhkdgwaEV9C-wHaD4?w=290&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style=""/>
                </div>

                <div class="commPollOl" style="width:60%;float:right;top:3%;height:90%;">

                    <h6 style="text-align:center;" class="pollTitle">Heavy Metals</h6>
                    <hr />

                    <p style="margin-top:8%;">Sources: Industrial discharges, mining operations, fossil fuel combustion, disposal of e-waste, and many other ways.</p>

                    <p>Dangers: Heavy metals cover a broad category of different metals, but some of these metals can cause cancer, developmental issues, cognitive issues, and kidney issues.</p>

                </div>

            </div>
            <div style="display: flex; background: rgb(65, 101, 138,0.8); border: none;" class="pollDivElement">
                <div class="commPollImage" >
                    <img src="https://th.bing.com/th/id/OIP.Wzf8J9M7N9Z-hH8mJGHQbAHaEK?w=287&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style=""/>
                </div>

                <div class="commPollOl" style="width:60%;float:right;top:3%;height:90%;">

                    <h6 style="text-align:center;" class="pollTitle">Microplastics</h6>
                    <hr />

                    <p style="margin-top:8%;">Source: Can range a lot, but some sources are personal care products like toothpaste and face washes, clothing, and plastic packaging.</p>

                    <p>Dangers: While knowledge on microplastics is limited, studies has suggested that they can cause inflammation, stress, and damage to cells and tissues in humans.</p>

                </div>

            </div>
            <div style="display: flex; background: rgb(65, 101, 138,0.8); border: none;" class="pollDivElement">
                <div class="commPollImage" >
                    <img src="https://th.bing.com/th/id/OIP.Ia-jLnIJ8tJ8-sWl6Vtv6wHaEx?w=299&h=192&c=7&r=0&o=5&dpr=1.3&pid=1.7" style=""/>
                </div>
                
                    
                <div class="commPollOl" style="width:60%;float:right;top:3%;height:90%;">

                    <h6 style="text-align:center;" class="pollTitle">Endocrine Disruptors</h6>
                    <hr />

                    <p style="margin-top:8%;">Source: Plastic products, medicines, cosmetics, as well as pesticidies and herbicides are all sources. They get into water through sinks/toilets/showers and aren't able to be filtered at wastewater treatment plants.</p>

                    <p>Dangers: They can cause reproductive and developmental issues.</p>

                </div>
                
            </div>
        </div>
    </div>

    <div class="screenStripe" style="background: rgb(65, 101, 138);"></div>
    <div class="two">
        <p style="border-left: 3px solid rgb(69, 104, 160); width: 100%; height: 10%;  padding-left: 3%; " class="twitle-qual">Biggest threats to water quality</p>

        <hr style="border: 3px solid rgb(65, 101, 138);" />
        <div>
            <div id="threatQualInfo">
                <div style="width: 100%; float: left; padding: 5%; height: 25%;">
                    <hr style="border: 2px solid rgb(135, 191, 255); width: 100%; " />
                    <div style="width: 100%; ">
                        <div style="width: 50%; float: right; padding: 5%; padding-top: 7%;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRH3lE9EfWWV1u0WxXVeoVG2wfV20erouwEg&s" style="height:100%;width:100%;float:right" />
                        </div>
                        <h3 style="">1. Agricultural</h3>
                        <p style="word-spacing: 0.3rem; line-height: 1.75;">
                            Not only is the agricultural sector the biggest consumer of global freshwater resources,
                            with farming and livestock production using about 70 percent of the earth’s surface water supplies, but it’s also a serious water polluter. Around the world, agriculture is the leading cause of water degradation.
                            In the United States, agricultural pollution is the top source of contamination in rivers and streams, the second-biggest source in wetlands, and the third main source in lakes. It’s also a major contributor of contamination to estuaries and groundwater. Every time it rains, fertilizers, pesticides, and animal waste from farms and livestock operations wash nutrients and pathogens—such bacteria and viruses—into our waterways.
                            Nutrient pollution, caused by excess nitrogen and phosphorus in water or air,
                            is the number-one threat to water quality worldwide and can cause algal blooms, a toxic soup of blue-green algae that can be harmful to people and wildlife.

                        </p>

                    </div>
                    
                </div>
                <div style=" width:100%;float:left; padding: 5%;height:25%;">
                    <hr style="border: 2px solid rgb(135, 191, 255); width: 100%;" />
                    <div style="width: 100%;height: 25%;">
                        <div style="width: 50%; float: right; padding: 5%;padding-top:7%;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS65XWPtvq1EdvmcaFzg-sIv96k-_s3f35CsQ&s" style="height:100%;width:100%;float:right" />
                        </div>
                        <h3>2. Wastewater & Sewage</h3>
                        <p style=" word-spacing: 0.3rem; line-height: 1.75;">
                            Used water is wastewater. It comes from our sinks, showers, and toilets (think sewage) and from commercial, industrial, and agricultural activities (think metals, solvents, and toxic sludge). The term also includes stormwater runoff, which occurs when rainfall carries road salts, oil, grease, chemicals, and debris from impermeable surfaces into our waterways
                            <br />
                            More than 80 percent of the world’s wastewater flows back into the environment without being treated or reused, according to the United Nations; in some least-developed countries,
                            the figure tops 95 percent. In the United States, wastewater treatment facilities process about 34 billion gallons of wastewater per day.
                            These facilities reduce the amount of pollutants such as pathogens, phosphorus, and nitrogen in sewage, as well as heavy metals and toxic chemicals in industrial waste, before discharging the treated waters back into waterways.
                            That’s when all goes well. But according to EPA estimates, our nation’s aging and easily overwhelmed sewage treatment systems also release more than 850 billion gallons of untreated wastewater each year.
                        </p>
                    </div>
                    
                </div><div style="float:left;width:100%; padding: 5%;height:25%;">
    <hr style="border: 2px solid rgb(135, 191, 255); width: 100%;" />
    <div style="width:100%;">
        <div style="width: 50%; float: right; padding: 5%; padding-top: 7%;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQKnoD0hQk9c1FlVL3PFuTMu0LJYzo_9pAww&s" style="height:100%;width:100%;float:right" />
        </div>
        <h3>3. Oil spills</h3>
        <p style=" word-spacing: 0.3rem; line-height: 1.75;">
            Big spills may dominate headlines, but consumers account for the vast majority of oil pollution in our seas, including oil and gasoline that drips from millions of cars and trucks every day.
            Moreover, nearly half of the estimated 1 million tons of oil that makes its way into marine environments each year comes not from tanker spills but from land-based sources such as factories, farms, and cities.
            At sea, tanker spills account for about 10 percent of the oil in waters around the world, while regular operations of the shipping industry—through both legal and illegal discharges—contribute about one-third.
            Oil is also naturally released from under the ocean floor through fractures known as seeps.
        </p>
    </div>
            
    </div>
      <div style="margin-top: 15%; padding: 5%; height: 25%;">
          <hr style="border: 2px solid rgb(135, 191, 255); width: 100%;" />
          <div style="width: 100%; float: left; ">
              <div style="width: 50%; float: right; padding: 5%; padding-top: 7%;">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf7R6wCkBuPB9xhCK1BlKmcHC0fe1rMjqpbA&s" style="height:100%;width:100%;float:right" />
              </div>
              <h3>4. Industrial waste</h3>
              <p style="word-spacing: 0.3rem; line-height: 1.75;">
                  Today, industrial pollution is caused by discharges and emissions from manufacturing plants in certain industries, which continues to pollute surface waters nationwide.
                  Many manufacturing processes generate wastewater, contributing to the water pollution found in rivers, lakes, and oceans.[42] In 2015 the EPA found that fossil-fuel power stations,
                  particularly coal-fired plants were the largest contributors of industrial water pollution.[43] EPA found instances where power plants discharged toxic pollutants, such as mercury, arsenic,
                  and lead into surface waters.[5][44] Although many industrial facilities have added or expanded their wastewater treatment systems to comply with the CWA, certain industrial sectors and facilities have not
                  addressed all components in their discharges and continue to contribute significant quantities of pollutants to surface waters in the US.
              </p>
          </div>
          
      </div>
      </div>            
        </div>
    </div>
    <div class="screenStripe" style="background: rgb(65, 101, 138); display:flex; "></div>
    <div style=" width: 100%; ">
        
        <div class="three">
            <p style="justify-content:center; color: rgb(56, 54, 54); font-family: var(--bs-body-font-family); font-weight: 200 " class="twitle-qual">Private well protection</p>
            <span style="display:grid;width:100%;height:0.5%;">
                <hr style="border:3px solid lightgrey; opacity:0.7;width:100%;float:left;" />
            </span>
            <div style="width:100%;height:50%;">

                <div class="mainArticle3">
                    <h2 style="">
                        Preventing Problems
                    </h2>

                    <ol>
                        <li><p>Install a locking well cap or sanitary seal to prevent authorized use of, or entry into, your well</p></li>
                        <li><p>Do not mix or use presiticdes, fertilizers, herbicides, degreasers, fuels, or other pollutants near your well</p></li>
                        <li><p>Pump and inspect septic systems as often as recommended by your local health department</p></li>
                        <li><p>Never dispose of hazardous materials in a septic system</p></li>


                    </ol>
                    <br />
                    <h2>
                        Maintaining your well
                    </h2>
                    <ol>
                        <li><p>Each month check visible parts of your system for problems such as: cracking or corrosion, broken or missing well cap, settling and cracking of surface seals</p></li>
                        <li><p>Have the well tested once a year for coliform bacteria, nitrates, and other contaminants like PFAS</p></li>
                        <li><p>Keep accurate records in a safe place, including: construction contract or report; maintenance records, such as disinfection or sediment removal; any use of chemicals in well; water testing resultsv</li>
                        <li><p>Never dispose of hazardous materials in a septic system</p></li>
                    </ol>
                    <br />
                    <h2 class="floodAdv-guide">
                        After a flood - Advisories
                    </h2>
                    <ol class="floodAdv-guide">
                        <li><p>Stay away from the well pump while flooded to avoid electric shock</p></li>

                        <li><p>Do not drink or wash from the flooded well to avoid becoming sick</p></li>

                        <li><p>Get assistance from a well or pump contractor to clean and turn on the pump</p></li>

                        <li><p>After the pump is turned back on, pump the well until the water runs clear to rid the well of flood water</p></li>

                        <li><p>If the water does not run clear, get advice from the country or state health department or extension service</p></li>
                    </ol>
                </div>
                <div class="sideArticle3">
                    <img src="https://www.epa.gov/sites/default/files/styles/small/public/2017-12/diagram_ham.jpg?itok=03jZ7FxT" />
                    <p>Surface runoff can eventually seep into groundwater and into your well water so please take necessary precautions.</p>
                    <img src="https://github.com/ColinJ69/images/raw/main/Screenshot_3-12-2024_213317_nepis.epa.gov.jpeg" style="margin-top:0%;" />
                    <p>To avoid runoff seeping into your well, try to place your well at the top of an incline.</p>

                    <img src="https://github.com/ColinJ69/images/raw/main/Screenshot%202024-12-21%20170736.png" />
                    <p>Recommended distance to keep your well from each.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" style="display:block;margin-top:0%;">
        <span id="contactlinks">
            <ul>
                <li>
                    <p><a href="about">About us</a></p>
                </li>
                <li>
                    <p><a href="mailto:ncwaterwatch.adm@gmail.com">Email us</a></p>
                </li>
                <li>
                    <p><a href="about#privacy">Privacy policy</a></p>
                </li>
            </ul>
        </span>
        <div style="position:relative;height:100%;float:left;" id="footersubscribediv">
            {% if logged_in %}

            {% if signed_up %}
            <div id="unsubscribe" style="">
                <p style="font-size: 1.25rem; position: relative; float: left;" onclick="unsub()">Unsubscribe </p><a class="x2" onclick="unsub()"></a>
            </div>
            {% else %}
            <div id="subscribe" style="">
                <p>Sign up for our bi-weekly newsletter in one click!</p>
                <hr style="font-size:2rem; background-color:grey;" />
                <button style="border: 1px solid black; width: 86%; border-radius: 3px; border-color: grey" onclick="sign_up()">Sign up</button>
            </div>
            {% endif %}

            {% else %}
            <div id="subscribe" style="">

                <p>Sign up for our bi-weekly newsletter!</p>
                <hr style="font-size:2rem; background-color:grey;" />
                <input name="noAccEmail" id="noAccEmail" type="text" placeholder="email" style="width:86%;">
                <button style="border:1px solid black;width:86%;border-color:grey;border-radius:3px;" onclick="sign_up_no_acc()">Sign up</button>

            </div>
            {% endif %}
        </div>
        <div id="footer-endpic-pc-div">


            <img style=" filter: contrast(1) brightness(1);margin-top:13%;" src="https://github.com/ColinJ69/FiguringOutNameChange/raw/main/images/Water%20Watch%20(1).png" />
            <p style="text-align:right;padding-right:10px;position:absolute;bottom:0;right:0;">
                ©Hydro Haven 2024
            </p>
        </div>

    </footer>
              <script>

                  document.querySelector('.scrolltocomm').addEventListener('click', function () {
                      document.querySelector('.commPollutants').scrollIntoView({ behavior: 'smooth' });
                  });
                  document.querySelector('.scrolltothreats').addEventListener('click', function () {
                      document.querySelector('.two').scrollIntoView({ behavior: 'smooth' });
                  });
                  document.querySelector('.scrolltowells').addEventListener('click', function () {
                      document.querySelector('.three').scrollIntoView({ behavior: 'smooth' });
                  });
                  var isd = document.cookie
                  var dsd = isd.slice(-32)

                  function sign_up() {
                      const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';

                      let sent_data = { 'register': true }
                      const API_URL = BASE_URL + "/newsletter_signup";

                      const request = new Request(
                          API_URL,
                          { headers: { 'X-CSRFToken': dsd, 'Content-Type': 'application/json' } }
                      );

                     

                      return fetch(request, {
                          method: 'POST',
                          mode: 'same-origin',
                          body: JSON.stringify(sent_data)
                      })
                          .then(response => response.json())
                          .then(response => {
                              data = response['time']; return data;
                          });
                      window.location.reload();
                  }
                  function menuchangeZvalue() {
                      var i = document.querySelector('#menuToggle');
                      function closeWindowZreset() {
                          i.style.zIndex = 1;
                      }
                      if (i.style.zIndex == 3) {

                          setTimeout(closeWindowZreset,
                              2000
                          )

                      }
                      else {
                          i.style.zIndex = 3;
                      }
                  }
                  function sign_up_no_acc() {
                      const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';

                      let sent_data = { 'email': document.querySelector('#noAccEmail').value }
                      const API_URL = BASE_URL + "/newsletter_signup";

                      const request = new Request(
                          API_URL,
                          { headers: { 'X-CSRFToken': dsd, 'Content-Type': 'application/json' } }
                      );

                     
                      return fetch(request, {
                          method: 'POST',
                          mode: 'same-origin',
                          body: JSON.stringify(sent_data)
                      })
                          .then(response => response.json())
                          .then(response => {
                              data = response['time']; return data;
                          })
                      window.location.reload();
                  }
                  function unsub() {
                      const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';

                      let sent_data = { 'register': false }
                      const API_URL = BASE_URL + "/newsletter_signup";

                      const request = new Request(
                          API_URL,
                          { headers: { 'X-CSRFToken': dsd, 'Content-Type': 'application/json' } }
                      );


                      return fetch(request, {
                          method: 'POST',
                          mode: 'same-origin',
                          body: JSON.stringify(sent_data)
                      })
                          .then(response => response.json())
                          .then(response => {
                              data = response['time']; return data;
                          })
                      window.location.reload();
                  }
              </script>
</body>
</html>
