
<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NC Water Watch</title>
    <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script>

    </script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <link rel="icon" type="image/x-icon" href="https://github.com/ColinJ69/NC-Water-Watch/raw/main/images/favicon.png">
    <meta name="google-signin-client_id" content="374367816012-1suqsd5kh3dkifqh8c6g8vd9ph3lrhln.apps.googleusercontent.com">
    <meta name="referrer" content="origin">
    
    <style>
        #menu li {
            color: white;
            margin-top: 10px;
        }


        .custom-file-input {
            display: none;
        }

        .custom-file-label {
            display: inline-block;
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .footer ul {
            list-style-type: none;
        }

        a {
            color: black;
            text-decoration: none;
        }

            a:hover {
                color: black;
                text-decoration: underline;
            }

        body {
            width: 100%;
        }
    </style>
</head>
<body style="background-color: #f7f7f7f7">
    <nav role="navigation" style="position:relative;">
        <div id="topSectionMainPage">
            <div id="image"></div>
            <img style=" filter: contrast(1) brightness(1);" src="https://github.com/ColinJ69/FiguringOutNameChange/raw/main/images/Water%20Watch%20(1).png" />
        </div>
        
        <div id="menuToggle">

            <input type="checkbox" style="z-index: 5 " onclick="menuchangeZvalue()"/>


            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>


            <ul id="menu" style="background: #2F2F2F; color:white;">
                <li><a href="/" class="underline">Home</a></li>

                <li><a href="guides" class="underline">Guides</a></li>

                <li><a href="maps" class="underline">Maps</a></li>

                <li><a href="games" class="underline">Quizzes</a></li>

                <li><a href="action" class="underline">Take action</a></li>

                <li><a href="news" class="underline">News</a></li>


                <li style="color:darkorange">
                    <a style="position: relative; bottom: 0%;color:darkorange;" href="{% url 'logouts' %}">
                        <h5>Logout</h5>
                    </a>
                </li>
            </ul>
        </div>

    </nav>

    <button id="actionBtn"><a style="color:white;" href="action">Take action</a></button>
    <div style="text-align: center;  height: 220px ">


        <h3 style="color:transparent;" id="bannertxt">We are a leading organization in providing awareness for water pollution across North Carolina.</h3>
    </div>


    <div class="login">
        <p style="font-size:2rem;">Login</p>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            {% if form.errors %}
            <div class="error-messages">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <p>{{ field|title }}: {{ error }}</p>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            <button class="btn btn-secondary" style="width:100%; border-radius:5px;height:35px;" name="userLog" type="submit">Submit</button>
        </form>
        <br /><br />
        <p style="float:left;width:100%;text-align:left;">Don't have an account? <a style="color:dodgerblue;cursor:pointer" onclick='register()'>Create account</a></p><br />
        <p style="float:left">Forgot password?<a style="color:dodgerblue" href="password_reset"> Click here</a></p>



    </div>
    
    <div id="register">
        <p style="font-size:2rem;">Create account</p>
        <form method="post">
            {% csrf_token %}
            {{forms.as_p}}
            {% if form.errors %}
            <div class="error-messages">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <p>{{ field|title }}: {{ error }}</p>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            <button class="btn btn-secondary" style="width: 100%; border-radius: 5px; height: 35px; border: 2px solid rgba(0, 0, 0, 0.1);" name="userReg" type="submit">Submit</button>
            <p style="float: left; width: 100%; text-align: left;">Already have an account? <a style="color:dodgerblue;cursor:pointer;" onclick='register()'>Login here</a></p>
            <p style="float:left;">Forgot password? <a style="color:dodgerblue" href="password_reset">Click here</a></p>
        </form>

        
    </div>
    <div class="reset">
        <input value="email" id="enterEmail" />
        <div class="form-buttons">
            <input type="submit" value="Send" onclick="resetEmail()" class="btn btn-primary">
            <a href="{%url 'logins' %}" class="btn btn-outline">Cancel</a>
        </div>

    </div>
    {% if logged_in %}
    <div onclick="openProfile()" id="profilebtn"><img id="pfp" src="https://th.bing.com/th/id/OIP.YOCYcAmmqZOMDcP9mc2M6wHaHa?w=199&h=199&c=7&r=0&o=5&dpr=1.3&pid=1.7" /></div>
    <div class="profile">
        <h4>User: {{usern}}</h4>
        <h4 class="profilepoints"></h4>


        <input type="file" id="fileInput" onchange="handleFileSelect(event)" />
        <label for="fileInput" class="custom-file-upload"> <p style="">Change profile picture</p></label>

    </div>
    {% else %}
    <button onclick="login()" id="loginBtn">
        <p style="">Login</p>
    </button>
    {% endif %}

    <div style="position: relative; display:inline-block;  width: 100%; height: 3400px">
        <span style="" id="homeguides">
            <div style=" " id="homeguidetxt">
                <h1 style="position: relative;" class="homepageintxt-">Who are we?</h1>
                <a href="guides"><button style="position: relative; height: 75px; width: 200px; font-size:1.6rem;margin-top:10%;">Learn more</button></a>
            </div>
            <div class="bg-text" style="">

                <h2></h2><hr style="background-color:white; border:2px solid;"><h2>We are a leading organization in providing awareness for the growing issue of water pollution across North Carolina.</h2>
                <span style="text-align: center"></span>
            </div>
        </span>
        <span style="display: inline-block; height: 5%; width: 100%; background-color: #7A9E7E "></span>
        <span style="" id="homemap">
            <div id="homemaptxt">
                <h1 style=" position: relative;" class="homepageintxt-">Interactive maps</h1>
                <a href="maps"><button style="position: relative; height: 75px; width: 200px;margin-top:10%;  font-size: 1.6rem;">Explore</button></a>
            </div>
            <div class="box" style="position:relative;" >
                <div id="map4" style="height:100%;width:100%;border:2px solid grey;overflow:hidden;">

                </div>

            </div>

        </span>

        <span id="homequiz">
            <div id="homequiztxt">
                <h1 id="hqth" style="" class="homepageintxt-">Quizzes</h1>
                <a href="games"><button style="">Explore</button></a>
            </div>
            <div id="questionday" style="">
                <div style="width: 100%; height: 10%; display: flex;flex-direction:row;position:relative;align-items:flex-end">

                    <h2 class="qdaytop" style="width:50%;left:0">Question of the day</h2>
                    <h1 class="qdaytop" style="width:50%;margin-right:5%;text-align:right;" id="response"></h1>
                </div>
                <div id="question_divy" style="position: relative; top: 0%;padding:5%">
                    <h3 id="queriedDataShow" style="position: relative; left: 0%;color:black "></h3>
                    <form id="formA">
                        <ol style="font-size: 25px; float: left" id="formAolday">
                            <li class="labelq"><input value="1" name="q" type="radio" id="input1"><label for="input1" id="subRepResp"></label></li>
                            <li class="labelq"><input value="2" name="q" type="radio" id="input2" /><label for="input2" id="subEnterUni"></label></li>
                            <li class="labelq"><input value="3" name="q" type="radio" id="input3" /><label for="input3" id="subEvResponder"></label></li>
                            <li class="labelq"><input value="4" name="q" type="radio" id="input4" /><label for="input4" id="unDomainEntered"></label></li>
                        </ol>

                    </form>



                </div>
            </div>
        </span>




        <span style="display: inline-block; width: 100%; height: 5%; background: rgb(207, 222, 231); " id="bow"></span>
        <span style="display: inline-block; width: 100%; height: 20%;">
            <div id="homenews">
                <h1 id="hnt" style="" class="homepageintxt-">News</h1>
                <a href="news"><button style="position: relative; height: 75px; margin-top: 10%; width: 200px; font-size: 1.6rem;">Explore</button></a>
            </div>
            <div id="homenewsboxdiv">

                <div id="homenewsbox">

                    <hr style="background-color:white; border:2px solid;">
                    <h3>Sign up for our free newsletter to get informed on water quality stories that apply to you and your community!</h3>
                    <span style="text-align: center"></span>
                </div>
            </div>
        </span>

    </div>
    <p id="num" style="display:none">{{num}}</p>

    <footer class="footer homefooter" style="display:block;position:relative" >
        <span id="contactlinks">
            <ul>
                <li>
                    <p><a href="about">About us</a></p>
                </li>
                <li>
                    <p><a href="mailto:ncwaterwatch.adm@gmail.com">Email us</a></p>
                </li>
                <li>
                    <p><a href="about#privacy">Privacy policy</a></p>
                </li>
            </ul>
        </span>
        <div style="position:relative;height:100%;float:left;" id="footersubscribediv">
            {% if logged_in %}

            {% if signed_up %}
            <div id="unsubscribe">
                <p style="font-size: 1.25rem; position: relative; margin:0;float: left;" onclick="unsub()">Unsubscribe </p><a class="x2" onclick="unsub()"></a>
            </div>
            {% else %}
            <div id="subscribe">
                <p>Sign up for our bi-weekly newsletter in one click!</p>
                <hr style="font-size:2rem; background-color:grey;" />
                <button style="border: 1px solid black; width: 86%; border-radius: 3px; border-color: grey" onclick="sign_up()">Sign up</button>
            </div>
            {% endif %}

            {% else %}
            <div id="subscribe">

                <p>Sign up for our bi-weekly newsletter!</p>
                <hr style="font-size:2rem; background-color:grey;" />
                <input name="noAccEmail" id="noAccEmail" type="text" placeholder="email" style="width:86%;">
                <button id="subscribe_noAcc_signup" style="border:1px solid black;width:86%;border-color:grey;border-radius:3px;" onclick="sign_up_no_acc()">Sign up</button>

            </div>
            {% endif %}
        </div>
        <div id="footer-endpic-pc-div">


            <img style=" filter: contrast(1) brightness(1);margin-top:13%;" src="https://github.com/ColinJ69/FiguringOutNameChange/raw/main/images/Water%20Watch%20(1).png" />
            <p style="text-align:right;padding-right:10px;position:absolute;bottom:0;right:0;">
                ©Hydro Haven 2024
            </p>
        </div>

    </footer>
   



    <script src="{% static 'homepage.js' %}"></script>
    <script>
        
    </script>
</body>
</html>