<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NC Water Watch</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="icon" type="image/x-icon" href="https://github.com/ColinJ69/NC-Water-Watch/raw/main/images/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=bd088623"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="{% static 'maps.js' %}"></script>
    <script>
        function toggle() {
            var div = document.getElementById("informDiv");
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        };
    </script>
    <style>
        ul {
            list-style-type: none;
        }

        .toggleMaps li:hover {
            font-size: 1.47rem;
            cursor: pointer;
        }

        .toggleMaps2 li:hover {
            font-size: 1.47rem;
            cursor: pointer;
        }

        .toggleMaps3 li:hover {
            font-size: 1.47rem;
            cursor: pointer;
        }

        #menu a {
            color: white;
            margin-top: 10px;
        }



        .sx div:hover {
            font-size: 40px;
        }

        .footer a {
            color: #2F2F2F
        }

        .mapInfo-cafo-key p {
            display: block;
            text-align: left;
        }

            .mapInfo-cafo-key p::first-line {
                color: blue
            }
    </style>
</head>

<body>
    <nav role="navigation">

        <div id="menuToggle">

            <input type="checkbox" style="z-index: 5 " onclick="menuchangeZvalue()" />


            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>
            <span style="background: #616161; z-index: 4 "></span>


            <ul id="menu" style="background: #2F2F2F; color:white;">
                <li><a href="/" class="underline">Home</a></li>

                <li><a href="guides" class="underline">Guides</a></li>

                <li><a href="maps" class="underline">Maps</a></li>

                <li><a href="games" class="underline">Quizzes</a></li>

                <li><a href="action" class="underline">Take action</a></li>

                <li><a href="news" class="underline">News</a></li>


                <li style="color:darkorange">
                    <a style="position: relative; bottom: 0%;color:darkorange;" href="{% url 'logouts' %}">
                        <h5>Logout</h5>
                    </a>
                </li>
            </ul>
        </div>

    </nav>

    <div style="height: 35%; float: left; width: 100%;">
        <h3 id="titlex" style="">Interactive Maps</h3>
    </div>
   
    <div class="mapInfo-div public" >
        <div style="" class="mapInfo">
        <h1 style="font-family: var(--bs-body-font-family); font-size: 1.2rem;font-weight:100; margin-top: 6px">Spread of PFAS across public NC water systems</h1><hr style="border:2px solid #2F2F2F;" />
        <div id="mapInfoDes">
            <h5 style="font-family:Book Antiqua;">These 300+ water sources across North Carolina effect a total population of over 7 million people, of which machine learning(ML) models have predicted that 4 million of those people are exposed to 1-6 of the tested PFAS and/or GenX chemicals at dangerous thresholds.</h5>

        </div>
        <div id="mapInfoPoll">
            <h4 style="position: relative; left:4px;">🔴= Polluted</h4>
            <h4 style="position: relative; left:4px;">🟢= Not polluted</h4>
        </div>
        
        <div id="mapInfoTest">
            <p>Your water source not included?</p>


            <button  id="mapinfotestbtn" onclick="testing()">Test your well here</button>
        </div>
        </div>
        <div id="testingDiv">
            <p style="font-size: 1.8rem;">Does your well have PFAS?</p>
            <hr style="background: #2F2F2F; border: 2px solid #2F2F2F; " /><br /><br />
            <input id="add" placeholder="Address/Coordinates" class="inputs" name="add" type="text" style="" /><button id="autofill" onclick="getLocation()">Autofill</button><br /><br />
            <input id="depth" placeholder="Well Depth(ft)" class="inputs" name="depth" type="text" /><br /><br />
            <button class="inputs" id="butt" onclick="test()">Begin test</button>
            <label id="points">{{points}}</label>
            <div id="resultCon" style="padding: 20px; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.35) 0px 0px 0px 1px;color:#2F2F2F; border-radius: 5px; ">
                <label id="balls"></label>
            </div>
            <p style="" id="goBack" onclick="testing()">Go back ></p>
        </div>
    </div>
    <script>
        
        function testing() {

            var i = document.querySelector('.mapInfo');
            var j = document.querySelector('#testingDiv')
            if (i.style.display != 'none') {
                i.style.display = 'none'
                j.style.display = 'block'
                document.querySelector('.mapInfo-div').scroll({ top: 0, behavior: 'smooth' });
            }
            else {
                j.style.display = 'none'
                i.style.display = 'block'

                

            }
        }
    </script>
            
        

    <div class="mapInfo-div cafo" id="mapInfo">
       
            <h1 style="font-family: serif;font-size: 1.5rem;margin-top:6px">Number of CAFOs across NC Counties</h1><hr style="border:2px solid #2F2F2F;" />
            <div style="padding: 20px; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.25) 0px 0px 0px 1px; border-radius: 5px; ">
                <h5 style="font-family:Book Antiqua;font-size:1.25rem;">What is CAFO?</h5>
                <hr style="border:2px solid grey;" />
                <h5 style="font-family:Book Antiqua;font-size:0.9rem;">A CAFO, or Confined Animal Feeding Operation, is a massive feedlot filled with hundreds to thousands of animals for the purpose of agriculture.</h5>

            </div>
            <div style="padding: 20px; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.25) 0px 0px 0px 1px; border-radius: 5px; margin-top:10%;">
                <h5 style="font-family:Book Antiqua;font-size:1.25rem;">Why are they bad?</h5>
                <hr style="border:2px solid grey;" />
                <h5 style="font-family:Book Antiqua;font-size:0.9rem;">CAFOs produce large amounts of animal waste, which can contaminate water sources with nutrients, pathogens, and chemicals. This can lead to water pollution, algal blooms, and dead zones in aquatic ecosystems.</h5>
            </div>

        </div>


    
    <div class="mapInfo-div polluters" id="mapInfo">
        
            <h1 style="font-family: serif;font-size: 1.5rem;margin-top:6px">Possible pollutors of PFAS</h1><hr style="border:2px solid #2F2F2F;" />
            <div style="padding: 20px; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.25) 0px 0px 0px 1px; border-radius: 5px; ">
                <h5 style="font-family:Book Antiqua;font-size:0.9rem;">This is a map of all potential industrial pollutors of PFAS across North Carolina. Mainly comprised of 3 catergories: General industry, Wastewater treatment facilities, and Landfills. These 700+ locations are suspected to be either users of PFAS in their products or harboring products that contain PFAS.</h5>

            </div><br />
                  <div style="padding: 20px;  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.25) 0px 0px 0px 1px; border-radius: 5px; text-align: left;color:black;">
                      <div style="display:flex;"><img src="https://github.com/ColinJ69/images/raw/main/gps.png" style="width: 20px; height: 20px; color: black;overflow:hidden;" /><p style="position: relative; left: 4px; color: black;">Landfill</p></div>
                      <div style="display:flex;"><img src="https://github.com/ColinJ69/images/raw/main/locations.png" style="width:20px;height:20px;"/><p style="position: relative; left:4px;">Industrial</p></div>
                    <div style="display:flex;"><img src="https://github.com/ColinJ69/images/raw/main/location.png" style="width:20px;height:20px;"/><p style="position: relative; left:4px">Wastewater treatment</p></div>
                    <div style="display:flex;"><img src="https://github.com/ColinJ69/images/raw/main/knownPin.png" style="width:20px;height:20px;" /><p style="position: relative; left: 4px;">Known Pollutor of PFAS</p></div>
                  </div>
            <br />

        </div>



 
        <div class="publicMap mapDiv">
            <div id="map2" style="width:100%;height:100%;"></div>
            <button style="z-index: 999999; position: absolute; top: 0%; right: 0%; background-color: #2F2F2F; height: 40px; width: 80px; color: white; font-size: 0.8rem; border: #2F2F2F " onclick="toggleMaps()">Switch map</button>
            <div class="toggleMaps">
                <p style="color:white;">Toggle map</p>
                <hr style="background: white; border:2px solid white;" />
                <div class="sx" onclick="toggleMaps()"></div>
                <ul class="toggleul">
                    <p>
                    <li value="public" onclick="public()" class="menuMapSwap-item" style="position: relative;">
                        Public water sources PFAS
                    </li>
                    </p>

                    <p>
                    <li value="cafo" onclick="cafo()" class="menuMapSwap-item" style="">
                        CAFO's in NC counties
                    </li>
                    </p>

                    <p>
                    <li value="private" class="menuMapSwap-item openPollutorsMap" onclick="polluters()">
                        Possible polluters of PFAS
                    </li>

                    </p>
                </ul>
            </div>
        </div>


        
            <div class="cafoMap mapDiv">
                <div id="map3" style="width:100%;height:100%;"></div>
                <button style="z-index: 999999; position: absolute; top: 0%; right: 0%; background-color: #2F2F2F; height: 40px; width: 80px; color: white; font-size: 0.8rem; border: #2F2F2F " onclick="toggleMaps()">Switch map</button>
                <div class="toggleMaps2">
                    <p style="color:white;font-size:2rem">Toggle map</p>
                    <hr style="background: white; border:2px solid white;" />
                    <div class="sx" onclick="toggleMaps()"></div>
                    <ul class="toggleul">

                        <p>
                        <li value="public" onclick="public()" class="menuMapSwap-item" style="">
                            Public water sources PFAS
                        </li>
                        </p>

                        <p>
                        <li value="cafo" onclick="cafo()" class="menuMapSwap-item" style="">
                            CAFO's in NC counties
                        </li>
                        </p>

                        <p>
                        <li value="private" class="menuMapSwap-item openPollutorsMap" onclick="polluters()" style="">
                            Possible polluters of PFAS
                        </li>
                        </p>
                    </ul>
                </div>
            </div>



            <div class="pollutersMap mapDiv">
                <div id="map" style="width:100%;height:100%;"></div>
                <button style="z-index: 999999; position: absolute; top: 0%; right: 0%; background-color: #2F2F2F; height: 40px; width: 80px; color: white; font-size: 0.8rem; border: #1b2329 " onclick="toggleMaps()">Switch map</button>
                <div class="toggleMaps3">
                    <p style="color:white;font-size:2rem">Toggle map</p>
                    <hr style="background: white; border:2px solid white;" />
                    <div class="sx" onclick="toggleMaps()"></div>
                    <ul class="toggleul" style="z-index:999;">
                        <p>
                        <li value="public" onclick="public()" class="menuMapSwap-item" style="">
                            Public water sources PFAS
                        </li>
                        </p>

                        <p>
                        <li value="cafo" onclick="cafo()" class="menuMapSwap-item" style="">
                            CAFO's in NC counties
                        </li>
                        </p>

                        <p>
                        <li value="private" class="menuMapSwap-item openPollutorsMap" onclick="polluters()" style="">
                            Possible polluters of PFAS
                        </li>
                        </p>
                    </ul>
                </div>
            </div>
    
   
            <footer class="footer" style="display:block;bottom:-10%;">
                <span id="contactlinks">
                    <ul>
                        <li>
                            <p><a href="about">About us</a></p>
                        </li>
                        <li>
                            <p><a href="mailto:ncwaterwatch.adm@gmail.com">Email us</a></p>
                        </li>
                        <li>
                            <p><a href="about#privacy">Privacy policy</a></p>
                        </li>
                    </ul>
                </span>
                <div style="position:relative;height:100%;float:left;" id="footersubscribediv">
                    {% if logged_in %}

                    {% if signed_up %}
                    <div id="unsubscribe" style="">
                        <p style="font-size: 1.25rem; position: relative; float: left;" onclick="unsub()">Unsubscribe </p><a class="x2" onclick="unsub()"></a>
                    </div>
                    {% else %}
                    <div id="subscribe" style="">
                        <p>Sign up for our bi-weekly newsletter in one click!</p>
                        <hr style="font-size:2rem; background-color:grey;" />
                        <button style="border: 1px solid black; width: 86%; border-radius: 3px; border-color: grey" onclick="sign_up()">Sign up</button>
                    </div>
                    {% endif %}

                    {% else %}
                    <div id="subscribe" style="">

                        <p>Sign up for our bi-weekly newsletter!</p>
                        <hr style="font-size:2rem; background-color:grey;" />
                        <input name="noAccEmail" id="noAccEmail" type="text" placeholder="email" style="width:86%;">
                        <button style="border:1px solid black;width:86%;border-color:grey;border-radius:3px;" onclick="sign_up_no_acc()">Sign up</button>

                    </div>
                    {% endif %}
                </div>
                <div id="footer-endpic-pc-div">


                    <img style=" filter: contrast(1) brightness(1);margin-top:13%;" src="https://github.com/ColinJ69/FiguringOutNameChange/raw/main/images/Water%20Watch%20(1).png" />
                    <p style="text-align:right;padding-right:10px;position:absolute;bottom:0;right:0;">
                        ©Hydro Haven 2024
                    </p>
                </div>

            </footer>
            <script src="{% static 'mapspage.js' %}"></script>
</body>
</html>
