<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="background:#2F2F2F">
    <div style="position: relative; height: 300px; width: 90%; padding: 25px; background:white;left: 4%;text-align:center;margin-top: 200px; align-items: center; box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;">
        <h2 style="font-size:2rem;">Reset Password</h2>
        <h4>Please check your email inbox and follow the instructions.</h4>
    </div>
</body>
</html>